.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    height: fit-content;
    
}
.logo{
    width: 100%;
    transition: 0.5s;
    border-radius: 5px;
}
.logo:hover{
    box-shadow: 5px 5px var(--DarkestBlue);
}

.logoContainer{
    width: 15%;
    margin-bottom: 3%;
    padding-top: 5%;
}
.buttonsContainer{
    display: flex;
    flex-direction: column;
    
}
.changePageButton{
    margin-bottom: 8%;
    font-size: 7vw;
}
@media (min-width: 550px){
    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 10%;
        border-bottom: 1px solid var(--darkerPink);
        
    }
    .logoContainer{
        width: 6%;
        padding-top: 2%;
        margin-left: 2%;
    }
    .buttonsContainer{
        flex-direction: row;
        margin-right: 5%;
        width: 20%;
        justify-content: space-evenly;
    }
    .changePageButton{
        font-size: 2.5vw;
    }
}

@media (min-width: 700px){
    
    .logoContainer{
    width: 4%;
    padding-top: 0.5%;
    margin-bottom: 0%;
    margin-left: 5%;
    cursor: pointer;
    
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        
    }
    .changePageButton{
        font-size: 1.8vw;
    }
    

}