@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Extra+Condensed:wght@300;400;600&display=swap');

:root{
    --lightCyan: rgb(160, 255, 249);
    --lightPink: rgb(252, 202, 195);
    --darkerPink: rgb(203, 164, 158);
    --backgroundCream: rgb(244, 241, 236);
    --DarkestBlue: rgb(57, 72, 105);

    /* fonts */

    --font: 'Sofia Sans Extra Condensed', sans-serif;

}
select {
    
    appearance: none;
    background-color: transparent;
    border: none;
    width: 100%;
    font-family: inherit;
    cursor: inherit;
    line-height: inherit;
    color: var(--DarkestBlue);
    
  }

button{
    font-family: var(--font);
    font-size: 5vw;
    background-color: var(--backgroundCream);
    border: 2px solid var(--darkerPink);
    color: var(--DarkestBlue);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s
}
button:hover{
    background-color: var(--lightCyan);
    box-shadow: 5px 10px;
}
body{
    font-family: var(--font);
    background-color: var(--backgroundCream);
    text-decoration: none;
}


.options{
    border: none;
    outline: none;
    height: 7vw; 
    background-color: var(--darkerPink);
    font-size: 4vw;
    transition: 0.5s;
    width: 50vw;
}
.options:hover{
    box-shadow: 5px 5px var(--DarkestBlue);
}
select,
.select:after {
grid-area: select;
}
.select{
    display: grid;
    appearance: none;
    outline: none;
    cursor: pointer;
    grid-template-areas: "select";
    align-items: center;
    margin: 1%;
    
    background-color: var(--backgroundCream);
    color: var(--DarkestBlue);
    width: 50%;
    font-family: var(--font);
    height: 4vw;
    font-size: 4vw;
    font-weight: 400;
    margin-bottom: 6%;
}
.select::after{
    content: "";
    width: 0.5em;
    height: 0.3em;
    background-color: var(--DarkestBlue);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;
}
.displayContainer{
    width: 100%;
}
.cardsContainer{
    display: inline-block;
    width: 100%;
    padding: 0;
}


.optionsContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
    margin-top: 3%;
}

.searchBarContainer{
    margin-top: 5%;
    width: 100%;
  
}
.pageControlButtons{
    margin: 4%;
}
@media (min-width: 700px) {
    button{
        font-size: 1.7vw;
    }
    .select{
        font-size: 1.5vw;
        height: 2vw;
        width: 15%;
    }    
    .options{
        font-size: 1.5vw;
        font-size: 1.5vw;
        padding: 1%;
        margin: 0;
        height: 2vw;
        width: 20vw;
    }
    .optionsContainer{
        flex-direction: row;
        justify-content: space-evenly;
        height: 2vw;
        
        margin: 0;
        margin-top: 3%;
    }
    .displayContainer{
        width: 100%;
        
    }
    .nav{
        display: flex;
        flex-direction: row;
        height: 28%;
        width: 100%;
    }
    .logoContainer{
        width: 10%;
        padding: 1%;
        cursor: pointer;   
    }
    .logo{
        width: 60%;
    }
    
    .buttonsAndOptionsContainer{
        width: 100%;
    }
    
    .title{
        margin: 0%;
        border-bottom: 1px solid var(--lightCyan);
    }
    .searchBarContainer{
        width: 100%;
        padding: 1%;
        margin: 0;

    }

    .pageControlButtons{
        margin: 2%;
        
     }

}

