
.barInput{
    width: 45%;
    border: 1px solid var(--darkerPink);
    font-family: var(--font);
    font-size: 5vw;
    padding: 0;
}
.searchButton{
    background-color: var(--DarkestBlue);
    border: 1px solid var(--darkerPink);
    font-size: 5vw;
    
    color: var(--backgroundCream);
    border-radius: 0;
    margin: 0;

}

@media (min-width: 700px){
    .barInput{
        width: 40%;
        font-size: 1.7vw;
        height: 2vw;
        
    }
    .searchButton{
        font-size: 1.7vw;
        height: 2vw;
    }
}