
.barInput{
    width: 60%;
    border: 2px solid var(--darkerPink);
    border-right: 0;
    font-family: var(--font);
    font-size: 5vw;
    padding: 0;
    background-color: var(--backgroundCream);
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    padding-left: 2%;
    height: 10vw;

}

.searchButton{
   
    border: 2px solid var(--darkerPink);
    font-size: 5vw;
    height: 10vw;
    border-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;

}


@media (min-width: 700px){
    .barInput{
        width: 35%;
        font-size: 1.7vw;
        height: 2.5vw;
        
    }
    .searchButton{
        font-size: 1.7vw;
        height: 2.5vw;
        width: 5vw;
    }
}