
li{
    font-size: 3vh;
    text-decoration: none;
}
ul{
    list-style-type: none;
    
}

.formContainer{
    width: 80%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border: 2px solid var(--darkerPink);
    border-radius: 15px ;
    padding: 2%;
    color: var(--DarkestBlue);
    box-shadow: 5px 10px var(--DarkestBlue);
}


.selectContainer{
    
    display: grid;
    appearance: none;
    border: 2px solid var(--darkerPink);
    outline: none;
    cursor: pointer;
    grid-template-areas: "select";
    align-items: center;
    margin: auto;
    margin-bottom: 1em;        
    


    background-color: var(--backgroundCream);
    color: var(--DarkestBlue);
    width: 30%;
    font-family: var(--font);
    height: 4vw;
    font-size: 3.5vw;
    font-weight: 400;
    
    
}   
.select{
    border: none;
    outline: none;
    height: 100%; 
    background-color: var(--darkerPink);
    width: 100%;
    font-size: 3vw;
}


select,
.selectContainer:after {
grid-area: select;
}
.selectContainer::after{
    content: "";
    width: 0.5em;
    height: 0.3em;
    background-color: var(--DarkestBlue);
    clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    justify-self: end;

}

.formInput{
    background-color: var(--backgroundCream);
    border: 2px solid var(--darkerPink);
    height: 4vw;
    font-size: 3vw;
    font-weight: 400;   
    font-family: var(--font);
    color: var(--DarkestBlue);
    width: 70%;
    
}


.homeButton{
    margin: auto;
    margin-top: 5%;
    padding: 1%;
    font-size: 4vw;
    
}

.temperamentContainer{
    display: flex;
    flex-direction: column;
    max-width: 30%;
    height: fit-content;
    margin: auto;
    margin-bottom: 3%;
   
    
}
.inputTitle{
    font-size: 6vw;
}

@media (min-width: 600px) {
    .selectContainer{
        font-size: 2vw;
        height: 2vw;
    }
    .select{
        font-size: 1.5vw;
    }
    .title{
        font-size: 2vw;
        margin: 0;
    }
    .inputTitle{
        font-size: 1.5vw;
        margin: 0;
    }
    .formInput{
        margin: 0;
        height: 1.6vw;
        font-size: 1.5vw;
        width: 15vw;
    }

    .formContainer{
        width: 60%;

    }
    
}